<div class="margin-top-10">
    <div class="row">
        <div class="col-lg-6 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua text-white">
            <div class="inner">
              <h3>{{ marketCap | currency: 'USD' }}</h3>
              <p>Total Market Cap</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-6 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green text-white">
            <div class="inner">
              <h3>{{volume24h | currency: 'USD'}}</h3>
    
              <p>24H Volume Change</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
        
        <!-- ./col -->
      </div>
</div>

