.cryptoHeader {
    display: flex;
    background: orangered;
    color: white;
    border-radius: 3px;
    padding: 1em;
    font-family: sans-serif;
    justify-content: space-between;
}
  

.coin-details{
  display: flex;
  flex-direction: column;
  height:90%;
  background-color: blue;
}

.card{
  text-align : center;
}

.margin-1em{
  margin-top: 1em;
  margin-bottom: 1em;
}

.margin {
  margin-top: 0.5em;
}
.block{
  display: block;
  width:100%;
  padding:0.5em;
}

.card-img-top{
  display: inline-block;
  margin: 0 auto;
  padding:1.25em;
  width:75%;
  height:auto;   
}

.card-body{
  border-top: 0.25px solid grey; 
}

div.btn{
  cursor:none;
}

.pad{
  padding:1em;  
}

.border{
  border: 0.25px solid grey;
  border-radius: 5px;
}

.container h4{
  text-align: center;
}

@media screen and (max-width: 770px) {
  .cryptoHeader {
      flex-direction: column;
      font-size: calc(1vw + 0.5em);
      text-align: center;
  }   

  .card-img-top{
    width:50%;
    height:50%;
  }

  .coin-details{
    flex-direction: row;
  }
}
